{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div id="masthead-container">
		<div id="masthead">
			<h2 class="mast">Super Athlete Builder</h2>
			<div class="mast">Have you ever wished you that you could submit a form and create a digital data representation of an athlete? 
			Now you can... SUPER ATHLETE</div>
			<div class="mast">
				<a href="/athletes/" class="btn btn-lg btn-success">Get Started</a>
			</div>
		</div>
  </div>
  <div id="team" class="col-sm-6">
  	<h2 class='home-description'>Meet the Team</h2>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget maximus est. Mauris nunc elit, ornare at nisl eu, pellentesque pulvinar enim. Curabitur efficitur quam eu fringilla gravida. Aliquam hendrerit eget nibh a lacinia. Donec mollis risus lorem, nec pulvinar nulla aliquet sit amet. Etiam accumsan lacus eros, in dignissim ligula lobortis quis. Phasellus hendrerit tempor dui, a semper mauris. Mauris neque velit, congue non ornare non, sodales a arcu. Morbi pharetra porta condimentum. Sed pharetra, nisi nec semper dignissim, mauris tellus faucibus ex, eu consectetur risus est at ipsum. Nulla non urna erat. Curabitur molestie cursus aliquam. Duis eu erat mattis, vulputate mi fringilla, efficitur sem. Sed lobortis arcu vitae quam gravida vehicula.</p>
  </div>
  <div id="about" class="col-sm-6">
  <h2 class='home-description'>The Story</h2>
  <p>Mauris rutrum at odio sed cursus. Ut et posuere purus, eu dignissim mauris. Ut et euismod diam, eget porta elit. Nunc vitae justo lacus. Curabitur eu gravida diam. Nam imperdiet augue erat, non efficitur libero pharetra nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in metus pulvinar, sollicitudin urna ac, euismod nisi. Etiam ut lacus sit amet diam congue elementum. Mauris nec urna quis odio rhoncus fringilla in sit amet ligula. In in massa ut nisl vulputate accumsan sit amet consequat erat. Ut vulputate pretium elementum. Quisque tincidunt, tellus vitae aliquet aliquam, erat ex malesuada felis, eget scelerisque ex lectus et arcu. Morbi molestie nisi elit, bibendum elementum neque aliquam non. Curabitur vulputate rhoncus vulputate.</p>
  </div>
</div>
{% endblock %}