{% if league_list %}
  {% for league in league_list %}
    <div class='league'>
      {{ league.name }}
      <a href="/leagues/{{ league.id }}/">Detailed</a>
    </div>
  {% endfor %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="/leagues?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
        {% if page_obj.has_next %}
          <a href="/leagues?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% else %}
    <h3>leagues</h3>
    <p>No leagues found in the database.</p>
{% endif %}