.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div.imgmargin {
	margin-right: 4px;
}

.header-wrapper {
	height: 115px;
}

.header-image {
	display: inline-block;
	margin-right: 20px;
}

.header-content {
	vertical-align:middle;
	display: inline-block;
	color: red;
}

.btn-wrapper {
	margin-bottom: 20px;
	text-align: right;
}

.edit-btn-wrapper {
	display: inline-block;
	float:right;
}
