.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div.imgmargin {
	margin-right: 4px;
}

.header-wrapper {
	height: 115px;
}

.header-image {
	display: inline-block;
	margin-right: 20px;
}

.header-content {
	vertical-align:middle;
	display: inline-block;
	color: red;
}

.btn-wrapper {
	margin-bottom: 20px;
	text-align: right;
}

.edit-btn-wrapper {
	display: inline-block;
	float:right;
}

.form-group {
	margin: 0 auto;
	width:200px;
}


#masthead-container {
  background-image: url("../images/banner.jpg"); 
  background-repeat: no-repeat;
}

h2.home-description {
	text-align: center;
}

#masthead {
	color: white;
	height: 380px;
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

.mast {
	width: 100%;
	display: inline-block;
	margin: 20px;
}


